@import './vars';

.App {
  background-color: $primary-color;
  color: darkslategrey;
  display: flex;
  flex-direction: column;
  height: 100%;
}
 
.page-container {
  margin: 10px;
  background-size: cover;
  flex-grow: 1;
}