@import './vars';

.App {
  color: darkslategrey;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
}
 
.page-container {
  margin: 10px;
  background-size: cover;
  flex-grow: 1;
  padding-top: 30px;
}