.navbar {
  height: 90px;
  background-color: lightgray;
  width: 100%;
  display: flex;
}
.nav-item {
  padding: 15px;
  align-items: flex-end;
}

.navbar-brand  a {
  padding: 10px;
  font-size: 200%;
  font-weight: 750;
  color: slategrey;
  text-decoration: none;
}
button {
  background: none;
  padding: 0;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: #0d6efd;
}