@import '../vars';

.navbar {
  height: 90px;
  background-color: $secondary-color;
  width: 100%;
  display: flex;
  padding-right: 20px;
}

.nav-item {
  padding: 15px;
  align-items: flex-end;
}

.navbar-brand  a {
  padding: 10px;
  font-size: 200%;
  font-weight: 750;
  color: slategrey;
  text-decoration: none;
  margin-left: 10px;
}

button {
  background: none;
  padding: 0;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: #0d6efd;
}